import express from 'express';
import { VaporApp, VaporConfig } from 'vaports';
import helloWorldController from './controllers/helloWorld';

const port = 5000;
const config: VaporConfig = {
  showApi: true,
  expressApplication: express(),
  controllers: [helloWorldController],
  middleware: [express.json()]
};

const appV1 = new VaporApp(config);

appV1.expressApplication.listen(port, () => {
  console.log(`VaporTs listening on the port ${port}`);
  if (appV1.showApi) console.log(`View v1: http://localhost:${port}${appV1.path}`);
});
