{
  "compilerOptions": {
    "outDir": "../TypeScript/bin",
    "lib": [
      "es5",
      "es6"
    ],
    "target": "es6",
    "module": "commonjs",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
  },
  "include": [
    "../TypeScript/src/**/*"
  ],
  "exclude": [
    "../TypeScript/src/**/*test*",
    "../TypeScript/src/__mocks__"
  ]
}